{% extends "./base.html" %}
{% load static %}
{% block title %}Resultado{% endblock %}
{% block content %}

<div class="album py-5">
  <div class="container">
    <div class="pb-3 h5">
      {% if searched %}
      <h1> Você pesquisou por "{{searched}}" </h1>
      {% else %}
      <h1> Você não pesquisou... </h1>
      {% endif %}
    </div>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
      {% if livros %}
      {% for product in livros %}
      <div class="col">
        <div class="card shadow-sm">
          <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
          <div class="card-body">
            <p class="card-text">
              <a class="text-muted text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.titulo }}</a>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>

      
      {% endfor %}
      {% else %}
      <div class="col">
        <p>Nenhum livro encontrado.</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
